#mathdiv {
	width: 200px;
}

.full {
	width: 100%;
	text-align: center;
}

#progbox {
	font-size: x-small;
}

#prog{
	width: 204px;
}

.numbox {
	width: 50px;
}

#questionbox {
	font-size: x-large;
}

#hsdiv {
	position: absolute;
	background: #88f;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 40%;
	border: medium solid #0f0;
	border-radius: 5px;
	color: #f00;
	font-size: x-large;
}

#settingshide{
	cursor: pointer;
}
