#mathdiv {
    width:200px;
}

.full {
    width:100%;
    text-align: center;
}

#progbox{
    font-size: x-small;
}

#maxnumbox{
    width: 50px;
}

#questionbox{
    font-size: x-large;
}

#hsdiv{
	position: absolute;
	background: #88f;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	border: medium solid #0f0;
	border-radius: 5px;
	font-color: #f00;
	font-size: x-large;
}
